{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> Symfony {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION') }} chat</h1>
            </div>

            <div id="next">

                <form method="post" action="{{ path('createChat') }}">
                    <input type="submit" value="Create chat!">
                </form>
            </div>

        </div>
    </div>
{% endblock %}